.zoom {
  width: 600px;
  height: 400px;
  background-repeat: no-repeat;
  overflow:hidden;
}

figure:hover img {
  opacity: 1;
}

img {
  display: block;
  width: 100%;
  height: 30vw;
  pointer-events: none;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
